@import url(https://fonts.googleapis.com/css?family=Lobster);
@import url(https://fonts.googleapis.com/css?family=Indie+Flower);
@import url(https://fonts.googleapis.com/css?family=Amatic+SC);

body {
  background-color: #ffdead
}

.para26 {
  font-family: 'Amatic SC', cursive;
  color: #8b4513;
}
.para1 {
  font-weight: 900;
  font-family: 'Lobster', cursive;
  color: #6b8e23;
}

.para2 {
  font-weight: 300;
  font-family: 'Indie Flower', cursive;
  color: #ff1493;
}

.para3 {
  font-weight: 900;
  font-family: 'Lobster', cursive;
  color: #556b2f;
}

.para4{
  font-weight: 300;
  font-family: 'Indie Flower', cursive;
  color: #ff4500;
}

.para5 {
  font-weight: 900;
  font-family: 'Lobster', cursive;
  color: #6b8e23;
}

.para6 {
  font-weight: 300;
  font-family: 'Indie Flower', cursive;
  color: #ff1493;
}

.para7 {
  font-weight: 900;
  font-family: 'Lobster', cursive;
  color: #556b2f;
}

.para8 {
  font-weight: 300;
  font-family: 'Indie Flower', cursive;
  color: #ff4500;
}

.para9 {
  font-weight: 900;
  font-family: 'Lobster', cursive;
  color: #6b8e23;
}

.para10 {
  font-weight: 300;
  font-family: 'Indie Flower', cursive;
  color: #ff1493;
}

.para11 {
  font-weight: 900;
  font-family: 'Lobster', cursive;
  color: #556b2f;
}

.para12 {
  font-weight: 300;
  font-family: 'Indie Flower', cursive;
  color: #ff4500;
}

.para13 {
  font-weight: 900;
  font-family: 'Lobster', cursive;
  color: #6b8e23;
}

.para14 {
  font-weight: 300;
  font-family: 'Indie Flower', cursive;
  color: #ff1493;
}

.para15 {
  font-weight: 900;
  font-family: 'Lobster', cursive;
  color: #556b2f;
}

.para16 {
  font-weight: 300;
  font-family: 'Indie Flower', cursive;
  color: #ff4500;
}

.para17 {
  font-weight: 900;
  font-family: 'Lobster', cursive;
  color: #6b8e23;
}

.para18 {
  font-weight: 300;
  font-family: 'Indie Flower', cursive;
  color: #ff1493;
}

.para19 {
  font-weight: 900;
  font-family: 'Lobster', cursive;
  color: #556b2f;
}

.para20 {
  font-weight: 300;
  font-family: 'Indie Flower', cursive;
  color: #ff4500;
}

.para21 {
  font-weight: 900;
  font-family: 'Lobster', cursive;
  color: #6b8e23;
}

.para22 {
  font-weight: 300;
  font-family: 'Indie Flower', cursive;
  color: #ff1493;
}

.para23 {
  font-weight: 900;
  font-family: 'Lobster', cursive;
  color: #556b2f;
}

.para24 {
  font-weight: 300;
  font-family: 'Indie Flower', cursive;
  color: #ff4500;
}

.para25 {
  font-weight: 900;
  font-family: 'Lobster', cursive;
  color: #6b8e23;
}
